#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/stylesheet/' do
  # don't filter or layout
end

compile '/images/*/' do
end

compile '/' do
  filter :erb
  layout 'default'
end

compile '/resume/style/' do
end

compile '/resume/*' do
end

compile '/pages/*' do
  filter :erb
  layout 'page'
end

compile '/articles/*' do
  filter :redcloth
  layout 'article'
end

compile '*' do
  filter :erb
  layout 'default'
end

route '/stylesheet/' do
  '/main/style.css'
end

route '/resume/style/' do
  '/resume/style.css'
end

route '/images/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '/robots/' do
  '/robots.txt'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
