body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font: 0.75em tahoma, sans-serif;
}

blockquote {
	margin: 1em 0 1em 0;
	padding: 0 1em 0 1em;
	border: 1px dashed #ffffff;
	background-color: #007fc8;
	color: white;
}

blockquote p cite {
	display: block;
	text-align: right;
	font-style: normal;
}

article {
    font-size: medium;
    padding-left: 5em;
    width: 60em;
}

footer {
	font-size: larger;
    float: left; 
    width: 100%; 
    background-color: #fff; 
    border-width: 0; 
    border-style: none; 
    border-top: 1px solid #8E8E8E; 
    margin-top: 15px;
}

footer span {
    font-size: smaller;
    padding-left: 1em;
}

footer a {
	float: right;
	color: #545454;
	text-decoration: none;
	font: 0.8em tahoma, sans-serif;
    padding-right:1em;
    padding-left:1em;
}

footer a:hover {
	color: #EF7710;
	text-decoration: underline;
	font: 0.8em tahoma, sans-serif;
}

h1 + h3 {
	font-weight: bold;
}

.menu {
	font: 2.0em tahoma, sans-serif;
	letter-spacing: -1px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-left: 106px;
	float:left;
	text-align: left;
}

#top_nav {
	position: absolute;
	top: 16px;
	background-color: #007fc8;
	width: 66%;
}

.menu li {
	text-align: center;
	display: inline;
	margin: 0px;
	padding: 0px;
	color: #fff;
	float: left;
}

.menu li:hover {
	background-color: #00a2ff;
}

.menu li a:link,  .menu li a:visited {
	border-right: 1px solid #dedede;
	display: block;
	padding: 0 25px;
	text-decoration: none;
	float: left;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.current_page {
	float: left;
	border-width: 0;
	border-style: none;
	border-right: 1px solid #dedede;
	text-decoration: none;
	color: #FFF;
	padding: 0 25px;
	text-align: center;
	font-weight: bold;
	background: #00a2ff;
}

.table_cell a {
    color: #FFA800;
    text-decoration: underline;
    font-weight: bold;
}

#middle_content {
	background-color: #007fc8;
	top: 4.5em;
	position: absolute;
	width: 100%;
}

#middle_content_half {
	background-color: #646464;
	top: 5.5em;
	position: absolute;
	width: 100%;
}

#content_sub {
	width: 100%;
	height: auto;
	position: absolute;
	float: left;
	top: 13em;
	font: 1.2em tahoma, sans-serif;
}

#middle_left {
	float: left;
	padding-left: 40px;
	width: 66px;
	height: 186px;
	background-color: #fff;
	background-image: url('/images/bg_left.png');
	background-repeat: no-repeat;
	background-position: top right;
}

#middle_left_half {
	float: left;
	color: #fff;
	width: 45px;
	height: 93px;
	font: normal normal normal 14pt tahoma, sans-serif;
	background-color: #fff;
	background-image: url('/images/bg_left_half.png');
	background-repeat: no-repeat;
	background-position: top right;
}

#middle_right_half {
	float: left;
	border-left: 0px solid #000;
	border-top: 0px solid #000;
	border-bottom: 0px solid #000;
	height: 93px;
	min-width: 340px;
	background-image: url('/images/zuttonet_big_right_gray_half.png');
	background-repeat: no-repeat;
	background-position: top left;
}

#middle_left p {
	padding-top: 15px;
	padding-left: 15px;
}

#middle_right {
	float: left;
	border-left: 0px solid #000;
	border-top: 0px solid #000;
	border-bottom: 0px solid #000;
	height: 185px;
	width: 340px;
	background-image: url('/images/zuttonet_big_right_blue.png');
	background-repeat: no-repeat;
	background-position: top left;
}

#middle_right img {
	padding: 35px 0 35px 35px;
}

#content {
	position: absolute;
	top: 255px;
	background: #fff;
	width: 100%;
}

#content a {
    text-decoration: underline;
    font-weight: bold;
    color: #FFA800;    
}

#article-list {
    font-size: medium;
    padding-left: 2em;
    width: 60em;
	list-style-type: none;
}

#article-list li {
	display: block;
}

#contact_form {
	position: relative;
	float: left;
	left: 42px;
}

#lower_mid {
	position: absolute;
	top: 20.5em;
	height: 15px;
	width: 100%;
	background: #b8b8b8;
}

#lower_mid p {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#lower_mid span {
	background: #fff;
	height: 100%;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#top_mid {
	position: absolute;
	margin: 0 auto;
	top: 8px;
	left: 0;
	height: 8px;
	width: 66%;
	background: #00a2ff;
}