<%= render "partials/content_layout" %>
			<div id="content-sub">            
                <article>
                    <h1><%=h item[:title] %></h1>
                    <h3>By <%=h item[:author_name] %> in <%= tags_for item %></h3>
                    
                    <%= yield %>
					
					Enjoy this article? <a href="http://twitter.com/ganttr" class="twitter-follow-button" data-show-count="false">Follow @ganttr</a>
					<hr />
					
<%= render "partials/disqus" %>
                </article>

<%= render "partials/bottom_menu" %>
			</div>
<%= render "partials/footer" %>
