<%= render "partials/header" %>

	<body>
		<div id="wrapper">
			<div id="top_mid"></div>

			<div id="top_nav">
                <%= render "partials/menu" %>
			</div>
		</div>
		
		<div id="middle_content">
			<div id="middle_left">&nbsp;</div>
			<div id="middle_right">
				<img src="/images/zuttonet_logo_white_white.png" alt="ZuttoNet WebMedia"/>
				<p></p>
			</div>
		</div>

		<div id="lower_mid"></div>

		<div id="lower_content">
            <div id="article_list">
                <%= yield %>
            </div>
            
            <%= render "partials/bottom_menu" %>
		</div>
<%= render "partials/footer" %>